{% extends 'base.html' %}data
{% block title %}MyNextListen: {{data['title']}}{% endblock %}
{% block content %}


<div class="row">
	<div class="col-4">
		{% if data['jacket.large'] -%}
		<img class="img-fluid" src="{{data['jacket.large']}}" alt="Cover Image">
		{% else -%}
		<img class="img-fluid" src="{{ url_for('static', filename='headphone_icon_med.jpg') }}" alt="Default Cover Image">
		{% endif %}
		<p>{{availability['available']}}/{{availability['total']}} copies available.</p>
		<p>Hold List: {{availability['held']}} people long.</p>
		<br/>
		<a href={{"https://seattle.bibliocommons.com/v2/record/" + data['id']}} >View book on SPL website.</a>
    </div>
    <div class="col">
		<h3>
			{{data['title']}}
  			{% if data['subtitle'] -%}
  				<br/><small class="text-muted">{{data['subtitle']}}</small>
  				{% endif %}
		</h3>
		<h4>{{parse_author(data['author'])}}</h4>
	  <p>
	  {{data['description']}}
	  </p>
    </div>
</div>

<div class ="row">
	<div class='col-12'>
		<form method="post">
			<center>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Recommend</button>
				</div>
				<p>Find Similar books</p>
			</center>
		</form>
	</div>
</div>


<div class = "row">
{% if neighbors %}
 <table class="table">
   <thead>
     <tr>
       <th scope="col">#</th>
	   <th scope="col">Cover</th>
       <th scope="col">Title</th>
       <th scope="col">Author</th>
	   <th scope="col">Narrator</th>
	   
     </tr>
   </thead>
   <tbody>
        {% for item in neighbors %}
 	     <tr>
 	       <th scope="row">{{loop.index}}</th>
		   	<td>
				<div style="width: 104px;">
				<a href="{{ url_for('book', book_id=item['id']) }}">
				{% if item['jacket.small'] -%}					
				<img src = "{{item['jacket.small']}}" class="img-thumbnail img-fluid rounded">
				</a>
 			   	{% else -%}
 			   	<img src = "static/headphone_icon_small.jpg" class="img-thumbnail img-fluid rounded">
 			   	{% endif %}
				</div>
			</td>
		   	<td>
				<a href="{{ url_for('book', book_id=item['id']) }}">
				{% if item['subtitle'] -%}
					{{": ".join([item['title'], item['subtitle']])}}</td>
		   	 	{% else -%}
			 		{{item['title']}}
				{% endif %}
				</a>
			</td>
 	       <td>{{item['author']}}</td>
		   <td>{{item['performers']}}</td>
 	     </tr>
        {% endfor %}
   </tbody>
 </table>
 {% endif %}
</div>
<div class = "row">
	<a href="{{ url_for('search') }}">Search for a new book.</a>
</div>

{% endblock %}