{% extends 'base.html' %}
{% block title %}MyNextListen{% endblock %}
{% block content %}
    <h1>Welcome to MyNextListen</h1>
<div class = 'row'>
	<ul>
		<li>Do you check out audiobooks from the <a href = "https://seattle.bibliocommons.com/">Seattle Public Library?</a></li>
		<li>Do the books you want to listen to always have long wait times?</li>
		<li>This website uses machine learning to find similar books <i>available now</i> that you can listen to while you wait!</li>
	</ul>
</div>
<div class = 'row'>
	<div class="d-grid gap-2 col-6 mx-auto">
	  <a href = "search"><button class="btn btn-primary" type="button">Search for My Next Listen</button></a>
	</div>
</div>
{% endblock %}