{% extends 'base.html' %}
{% block title %} MyNextListen: Search {% endblock %}
{% block content %}
<h2>Search for an Audiobook: </h2>

	<form method="post">
    <div class="form-group">
		 <label for="search_type">search by:</label>
		 <select class = "form-select" id="search_type" name="search_type">
			 <option value="title">Title</option>
			 <option value="author">Author</option>
			 <option value="sc_number">SC Number</option>
		 </select> 
    </div>
    <div class="form-group">
        <input type="text" name="search_val"
               placeholder="enter title, author or SC Number" class="form-control"
               value="{{ request.form['search_val'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
 </form>
	 <table class="table">
	   <thead>
	     <tr>
	       <th scope="col">#</th>
		   <th scope="col">Cover</th>
	       <th scope="col">Title</th>
	       <th scope="col">Author</th>
		   
	     </tr>
	   </thead>
	   <tbody>
         {% for item in data %}
	 	     <tr>
	 	       <th scope="row">{{loop.index}}</th>
			   	<td>
					<div style="width: 104px;">
					<a href="{{ url_for('book', book_id=item['id']) }}">
					{% if item['jacket.small'] -%}					
					<img src = "{{item['jacket.small']}}" class="img-thumbnail img-fluid rounded">
					</a>
	 			   	{% else -%}
	 			   	<img src = "static/headphone_icon_small.jpg" class="img-thumbnail img-fluid rounded">
	 			   	{% endif %}
					</div>
				</td>
			   	<td>
					<a href="{{ url_for('book', book_id=item['id']) }}">
					{% if item['subtitle'] -%}
						{{": ".join([item['title'], item['subtitle']])}}</td>
			   	 	{% else -%}
				 		{{item['title']}}
					{% endif %}
					</a>
				</td>
	 	       <td>{{item['author']}}</td>
	 	     </tr>
         {% endfor %}
	   </tbody>
	 </table>

	 
	 

{% endblock %}


